/*
    BODY ----------------------------------------------------------------------
*/

body{
    background-color: #c7cab5;
    background-image: url(../img/bg-body.jpg);
    background-position: top center;
    background-repeat: no-repeat;

    font-family: 'PTSansRegular';
}


/*
    HEADER --------------------------------------------------------------------
*/

header,
.header{
    width: 100%;
    background-image: url(../img/bg-header.jpg);
    height: 128px;
}
header a img,
.header a img{
    margin: 21px 0 35px 0;
    float: left;
}
.header-contact{
    float: right;
    width: 475px;
    margin: 13px 0 0 0;
    padding: 5px 10px;
    background-color: #eee;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.telefone{
    float: left;
    width: 50%;
}
.adress{

}
.telefone img{
    float: left;
    margin: 8px 20px 8px 0;
}
.adress img{
    float: left;
    margin: 7px 20px 9px 0;
}
.telefone p{
    font-size: 18px;
    color: #c44741;
    margin: 2px 0;
}
.adress p{
    font-size: 16px;
    color: #333;
    margin: 2px 0;
}
.header-bottom{

}
.header-bottom h1{
    font-size: 20px;
    color: #000;
    display: inline;
    float: left;
}
.header-bottom form{
    float: right;
}
.header-bottom form input[type="text"]{
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;

    -webkit-box-shadow: inset 0 1px 4px #c7c7c7;
    -moz-box-shadow: inset 0 1px 4px #c7c7c7;
    box-shadow: inset 0 1px 4px #c7c7c7;

    height: 30px;
    padding: 0;
    border: 1px #c7c7c7 solid;
    width: 460px;
    text-indent: 13px;
    float: right;
}
.header-bottom form input[type="submit"]{
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;

    height: 30px;
    padding: 0;
    width: 80px;
    float: right;
}


/*
    NAV -----------------------------------------------------------------------
*/

nav,
.nav{
    background-image: url(../img/bg-nav.jpg);
    height: 50px;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);
}
nav > .wrap > ul,
.nav .wrap ul{
    display: table;
    margin: 0 auto;
}
nav > .wrap > ul > li,
.nav .wrap ul li{
    float: left;
}
nav > .wrap > ul > li > a,
.nav .wrap ul li a{
    display: block;
    background-image: url(../img/nav-hover.png);
    background-position: 0 0;
    padding: 7px  0;
    color: #fff;
    font-size: 18px;
    font-family: 'CuprumRegular';
    margin: 9px 10px 10px 0;
    width: 113px;
    text-align: center;
}
nav > .wrap > ul > li > a:hover,
.nav .wrap ul li a:hover
{
    background-image: url(../img/nav-hover.png);
    background-position: 0 -31px;
    text-decoration: none;
}


/*
    MAIN CONTENT --------------------------------------------------------------
*/

.container{
    margin: 25px 0;
}
.content-left{
    width: 220px;
    float: left;
    margin: 0 20px 0 0;
    display: inline-block;
}
.content-right{
    width: 700px;
    margin-left: 240px;
    min-height: 1000px;
}


/* left menu */

.left-menu > ul{
    width: 100%
}
.left-menu > ul > li > a{
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    background-color: #52616d;
    color: #fff;
    font-family: 'CuprumRegular';
    font-size: 18px;
    height: 35px;
    display: block;
    line-height: 1;
    padding: 10px;
}
.left-menu > ul > li > a:hover{
    background-color: #587380;
}
.left-menu > ul > li > ul{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.left-menu > ul > li > ul > li:last-child > a{
    background-image: none;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
}
.left-menu > ul > li > ul > li > a{
    display: block;
    line-height: 1;
    font-size: 13px;
    background-color: #fff;
    padding: 10px;
    background-image: url(../img/border-left-menu.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}
/*
    CONTENT RIGHT -------------------------------------------------------------
*/

.options{
    width: 100%;
    background-color: #fff;
    height: 180px;
    position: relative;
    z-index: 2;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.price, .brand, .type{
    border-right: 1px #C1C1C0 solid;
}
.price, .brand, .type, .use{
    width: 175px;
    float: left;
    padding: 10px 13px;
    height: 180px;
}
.price p, .brand p, .type p, .use p{
    font-family: 'CuprumRegular';
    font-size: 18px;
    margin-bottom: 10px;
}
.brand p a, .type p a, .use p a{
    margin-left: 7px;
}
.price p{
    margin-bottom: 20px;
}
.price form input[type="text"]{
    height: 20px;
    width: 110px;
    margin-left: 7px;
    margin-bottom: 20px;
}
.price > form > .select-price > .tac{
    margin-left: 52px;
}
.trackbar-line{
    height: 5px;
    background-color: #DBDBDB;
    margin-left: 6px;
    margin-right: 6px;
}
.trackbar-line-range{
    width: 50%;
    height: 5px;
    background-color: #49616E;
}
.trackbar-handle-left{
    display: block;
    width: 6px;
    height: 17px;
    background-image: url(../img/trackbar-left.png);
}
.trackbar-handle-right{
    display: block;
    width: 6px;
    height: 17px;
    background-image: url(../img/trackbar-right.png);
}
.options-button{
    display: inline-block;
    width: 100%;
}
.options-button a{
    float: right;
    display: block;
    width: 150px;
    height: 30px;
    background-color: #4F6CCC;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    z-index: 1; 

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.options-button a:hover{
    background-color: #687EE9;
    text-decoration: none;
}


/*
    MAIN CONTENT --------------------------------------------------------------
*/

.main-content{
    margin-top: 20px;
}


/* TABS */


.main-content-tabs{
    height: 30px;
    margin-right: 5px;
}
.main-content-tabs ul{
    float: right;
}
.main-content-tabs ul li{
    float: left;
}
.main-content-tabs > ul > li.active > a{
    background-image: url(../img/tab.png);
    background-position: 0 30px;
    color: #333;
}
.main-content-tabs > ul > li.active > a:hover{
    background-image: url(../img/tab.png);
    background-position: 0 30px;
    color: #333;
}

.main-content-tabs ul li a{
    color: #fff;
    font-size: 18px;
    font-family: 'CuprumRegular';
    display: block;
    text-align: center;
    background-image: url(../img/tab.png);
    background-position: 0 0;
    height: 30px;
    width: 125px;
    padding-top: 9px;
}
.main-content-tabs ul li a:hover{
    background-image: url(../img/tab.png);
    background-position: 0 60px;
    text-decoration: none;
}

/*
    CONTENT -------------------------------------------------------------------
*/

/* breadcrumbs */

.breadcrumbs{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    background-color: #EEEEEE;
    margin-bottom: 15px;

    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.breadcrumbs a{
    color: #9CAADD;
    font-size: 13px;
}
.breadcrumbs span{
    color: #9CAADD;
    font-size: 13px;
}
.breadcrumbs .active{
    color: #52616d;
}


/* MAIN CONTENT */

.content{
    width: 700px;
    background-color: #fff;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.content h1{
    text-align: center;
}
.content > ul{
    margin-top: 20px;
    display: inline-block;
}
.content > ul > li{
    border-top: 1px #C1C1C0 solid;
}
.content > ul > li:first-child{
    border: 0;
}
.content ul li ul li{
    display: inline-block;
}
.content ul li ul li ul li{
    float: left;
    width: 233px;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}
.content ul li ul li ul li img{
    display: block;
    margin: 0 auto;
    border: 3px #C1C1C0 solid;
    margin-bottom: 20px;
    width: 155px;
    height: 163px;
    margin-top: 20px;

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.content ul li ul li ul li a{
    margin-bottom: 20px;
    font-size: 16px;
    display: block;
}
.content ul li ul li ul li i{
    font-size: 12px;
    font-style: normal;
    margin-bottom: 10px;
    line-height: normal;
}
.content ul li ul li ul li p{
    color: #c44741;
    font-size: 30px;
    font-family: 'PTSansBold';
    display: block;
    line-height: normal;
    margin-bottom: 20px;
}


/* span hover */

.content-spisok-tovarov > ul{
    margin-top: 7px;
    display: inline-block;
}
.content-spisok-tovarov ul li ul li ul li:hover a span,
.content-poisk ul li ul li ul li:hover a span,
.content ul li ul li ul li:hover a span.hover-index,
.hover-kartochka:hover span.hover-kartochka{
    display: block;
}
span.hover{
    background: url(../img/over.png) no-repeat;
    display: none;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 210px;
    height: 210px;
    z-index: 100;
}
span.hover-index{
    background: url(../img/over2.png) no-repeat;
    display: none;
    position: absolute;
    top: 18px;
    left: 38px;
    width: 158px;
    height: 166px;
    z-index: 100;
}
span.hover-kartochka{
    background: url(../img/over3.png) no-repeat;
    display: none;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 290px;
    height: 300px;
    z-index: 100;
}
a.no-margin{
    margin: 0 !important;
    padding:0 !important;
}


/* SPISOK TOVAROV CONTENT*/

.content-spisok-tovarov > ul > li{
    border-top: 1px #CBD0D4 solid;
    padding-top: 13px;
}
.content-spisok-tovarov > ul > li:first-child{
    border: 0;
}
.content-spisok-tovarov ul li ul li{
    padding-left: 10px;
}
.content-spisok-tovarov ul li ul li ul li{
    float: left;
    width: 210px;
    margin-left: 25px;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
}
.content-spisok-tovarov ul li ul li ul li:first-child{
    margin-left: 0;
}
.content-spisok-tovarov ul li ul li ul li img{
    display: block;
    margin: 0 auto;
    border: 1px #AFB1A3 solid;
    margin-bottom: 20px;
    width: 210px;
    height: 210px;

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.content-spisok-tovarov ul li ul li ul li a{
    /* margin-bottom: 10px; */
    font-size: 13px;
    color: #52616d;
    padding: 0 10px;
    margin: 0;
}
.content-spisok-tovarov ul li ul li ul li p{
    text-align: center;
    margin-bottom: 10px;
}
.content-spisok-tovarov ul li ul li ul li i{
    float: left;
    margin-left: 10px;
    color: #7a7c74;
}
.content-spisok-tovarov ul li ul li.content-price-bg{
    margin-bottom: 10px;
}
.content-spisok-tovarov ul li ul li.content-price-bg ul li{
    background-image: url(../img/bg-content-price.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

/* STARS SMALL */
.stars-small > ul{
    width: 75px;
    height: 14px;
    float: right;
    margin-right: 9px;
}
.stars-small > ul > li{
    float: left;
    height: 14px !important;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    width: 15px !important;
}
.stars-small > ul > li > a{
    padding: 0 !important;
    display: block;
    height: 14px !important;
    width: 15px !important;
    background-image: url(../img/star-small-yelloy.png);
}
.stars-small > ul > li.star-gray > a{
    background-image: url(../img/star-small-gray.png);
}

/* POISK FORM */
.content-poisk-form-hover{
    display: none;
    width: 210px;
    height: 210px;
}
.content-poisk-form-hover a{
    display: block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin: 0 auto;
}
.content-poisk-form{
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    background-image: url(../img/bg-poisk-form.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}
.content-poisk-form form input[type="text"]{
    margin-right: 20px;
    width: 510px;
    height: 35px;
    float: left;
    margin-left: 10px;
}
.content-poisk-form form input[type="submit"]{
    width: 130px;
    height: 35px;
    font-size: 19px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* POISK CONTENT*/
.content-poisk h1{
    margin-bottom: 10px;
    margin-top: 20px;
}
.content-poisk > ul{
    display: inline-block;
}
.content-poisk > ul > li{
    border-top: 1px #CBD0D4 solid;
    padding-top: 13px;
}
.content-poisk > ul > li:first-child{
    border: 0;
}
.content-poisk ul li ul li{
    padding-left: 10px;
}
.content-poisk ul li ul li ul li{
    float: left;
    width: 210px;
    margin-left: 25px;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
}
.content-poisk ul li ul li ul li:first-child{
    margin-left: 0;
}
.content-poisk ul li ul li ul li img{
    display: block;
    margin: 0 auto;
    border: 1px #AFB1A3 solid;
    margin-bottom: 20px;
    width: 210px;
    height: 210px;

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.content-poisk ul li ul li ul li a{
    margin-bottom: 10px;
    font-size: 13px;
    color: #52616d;
    padding: 0 10px;
}
.content-poisk ul li ul li ul li i{
    float: left;
    margin-left: 10px;
    color: #7a7c74;
}
.content-price-bg{
    margin-bottom: 10px;
}
.content-price-bg ul li{
    background-image: url(../img/bg-content-price.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}


/* NEWS CONTENT */

.news h1{
    margin-bottom: 20px;
}
.news-block{
    background-image: url(../img/bg-news.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin: 0 10px;
    display: inline-block;
    width: 680px;
    margin-bottom: 20px;
}
.news-block-left{
    float: left;
    width: 210px;
    margin-right: 30px;
}
.news-block-left img{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 210px;
    height: 210px;
    border: 1px #AFB1A3 solid;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.news-block-right{
    width: 420px;
    float: right;
}
.news-block-right a{
    font-family: 'CuprumBold';
    line-height: normal;
    font-size: 20px;
    margin-bottom: 15px;
    color: #52616d;
}
.news-block-right p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.news-block-right i{
    font-size: 13px;
    color: #7a7c74;
}
.border-dotted{
    height: 1px;
    width: 100%;
    background-image: url(../img/border-dotted.png);
    background-repeat: repeat-x;
}
.border-gray{
    height: 1px;
    width: 100%;
    background-color: #E2E5D9;
}


/* USLUGI CONTENT */
.uslugi{
    display: inline-block;
}
.uslugi h1{
    margin-bottom: 20px;
}
.uslugi-content{
    background-image: url(../img/bg-news.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 680px;
    margin-bottom: 700px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}
.uslugi-content a{
    color: #000;
}
.uslugi-content a:hover{
    text-decoration: none;
}
.uslugi-content h3{
    font-size: 20px;
    color: #52616d;
    margin-left: 50px;
    font-family: 'CuprumBold';
    line-height: normal;
}
.uslugi-content p{
    margin-left: 50px;
}
.uslugi-remont{
    width: 212px;
    height: 212px;
    background-image: url(../img/bg-uslugi.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    display:block;
    margin-right: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.uslugi-remont:hover{
    background-position: 0 -212px;
}
.uslugi-ustanovka{
    width: 212px;
    height: 212px;
    background-image: url(../img/bg-uslugi.jpg);
    background-position: -212px 0;
    background-repeat: no-repeat;
    display: block;
    margin-right: 12px;
    float: left;
}
.uslugi-ustanovka:hover{
    background-position: -212px -212px;
}
.uslugi-arenda{
    width: 212px;
    height: 212px;
    background-image: url(../img/bg-uslugi.jpg);
    background-position:  -424px 0;
    background-repeat: no-repeat;
    display: inline-block;
}
.uslugi-arenda:hover{
    background-position: -424px -212px;
}


/* kartochka tovara */

.kartochka-left{
    margin-left: 10px;
    width: 290px;
    float: left;
}
.kartochka-right{
    margin-left: 320px;
    width: 380px;
}
.kartochka-left img{
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border: 1px #AFB1A3 solid;
    margin-bottom: 20px;
}
.kartochka-har{
    border: 1px #E2E5D9 solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.kartochka-har table{
    width: 100%;
    border-radius: 3px;
}
.kartochka-har img{
    border: 0;
}
.har-header{
    height: 30px;
    background-color: #c6c9b3;
    padding-left: 10px;
    font-size: 15px;
}
.har-footer{
    height: 37px;

    text-align: center;
}
.har-left{
    width: 210px;
    border: 1px #E2E5D9 solid;
    border-width: 0 1px 1px 0;
    height: 37px;
    padding-top: 4px;
    padding-left: 10px;
}
.har-right{
    padding-top: 0;
    text-align: center;
    font-family: 'PTSansBold';
    border-bottom: 1px #E2E5D9 solid;
}
.har-right img{
    border: 0;
    margin: 5px 0 0 0;
    padding: 0;
}

/* .kartochka right */

.kartochka-right{
    padding-right: 10px;
}
.kartochka-info h1{
    font-size: 20px;
    line-height: normal;
    text-align: left;
    color: #333;
    padding-right: 10px;
    margin-bottom: 20px;
}
.kartochka-info ul {
    display: inline-block;
    margin-bottom: 10px;
}
.kartochka-info ul li{
    /*    float: left;*/
    display: block;
}
.kartochka-info ul li span{
    font-size: 35px;
    line-height: normal;
    font-family: 'PTSansBold';
    color: #c44741;
    margin-right: 40px;
}
.kartochka-info ul li ul{
    border: 1px #E2E5D9 solid;
    padding: 10px;
    background-color: #eee;
    margin-top: 10px;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
.kartochka-info ul li ul li{
    display: block;
}
.kartochka-info ul li ul li p{
    color: #52616D;
    display: block;
    font-size: 15px;
}
.kartochka-info ul li ul li em{
    font-size: 18px;
    font-style: normal;
    color: #52616D;
}
.kartochka-info ul li ul li p b{
    font-weight: normal;
    font-size: 16px;
    color: #000;
    margin: 5px 0;
    display: block;
}
/*.kartochka-info ul li a{
    border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);

    background-color: #4F6CCC;
    color: #fff;
    font-size: 18px;
    padding: 6px 32px;
    display: block;
    margin-top: 4px;

}*/
.kartochka-info ul li a:hover{
    background-color: #6683E3;
    text-decoration: none;
}
.kartochka-info i{
    font-size: 15px;
    margin-bottom: 20px;
    color: #52616d;
    font-style: normal;
    display: block;
}
.kartochka-info p a{
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: none;
    box-shadow: none;
    color: #596cc8;
}
.kartochka-info p a:hover{
    text-decoration: underline;
    color: #687ee9;
    background: none;
}

/* kartochka otziv */

.kartochka-otziv{
    display: inline-block;
    margin: 30px 0;
}
.kartochka-otziv ul{
    display: inline-block;
    width: 100%;
}
.kartochka-otziv ul li{
}
.kartochka-otziv ul li h2{
    font-size: 24px;
    font-family: 'CuprumBold';
    color:#52616d;
    margin-bottom: 10px;
}
.star{
    width: 143px;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.star > a{
    display: block;
    background-image: url(../img/star-yelloy.png);
    width: 26px;
    height:  25px;
    float: left;
    margin-right: 2px;
}
.star > a.star-gray{
    background-image: url(../img/star-gray.png);
}
.kartochka-otziv p{
    margin-bottom: 10px;
}
.kartochka-otziv i{
    font-size: 13px;
    color:#7a7c74;
    font-style: normal;
}
.kartochka-otziv ul li ul{
    margin-top: 30px;
}
.kartochka-otziv ul li ul li{
    width: 49%;
    text-align: center;
}
.kartochka-otziv-button{
    display: block;
    background-color: #c6c9b3;
    color: #000;
    padding: 5px 33px;
    width: 90%;

    border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
}
.kartochka-otziv-button:hover{
    text-decoration: none;
    color: #333;
}


/* contacts */

.text_content ul{
    margin: 20px 60px 0 60px;
    border: 1px #E2E5D9 solid;

    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.text_content ul li{
    display: block;
    height: 38px;
    border: 1px #E2E5D9 solid;
    border-width: 0 0 1px 0;
    color: #7a7c74;
}
.text_content ul li:last-child{
    border:0;
}
.text_content > ul > li > .left{
    float: left;
    width: 170px;
    border: 1px #E2E5D9 solid;
    border-width: 0 1px 0 0;
    display: block;
    height: 38px;
    padding: 10px 0 0 10px;
}
.text_content > ul > li > .right{
    text-align: left;
    display: block;
    width: 408px;
    height: 38px;
    padding: 10px 0 0 10px;
}
.contact ul{
    border: 0;
    padding-left: 140px;
    display: inline-block;
}
.contact ul li{
    display: block;
    width: 151px;
    float: left;
    border: 0;
    margin-right: 40px;
    height: 31px;
    margin-bottom: 20px;
}
.contact ul li img{
    display: block;
    float: left;
    margin-right: 10px;
}
.contact ul li a{
    display: block;
    padding-top: 6px;
}
.map-yandex{
    width: 580px;
    height: 300px;
    margin: 20px 60px 0 60px;
    border: 1px #E2E5D9 solid;
    margin-bottom: 20px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;

}
/*
    FOOTER -------------------------------------------------------------------
*/

footer{
    background-image: url(../img/bg-footer.jpg);
    padding-top: 233px;
    background-position: top center;
    background-repeat: no-repeat;
}
.footer-menu{
    background-image: url(../img/bg-nav.jpg);
    height: 50px;

    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);
}
.footer-menu > .wrap > .map{
    float: right;
}
.footer-menu > .wrap > ul > li{
    float: left;
}
.footer-menu > .wrap > ul > li > a{
    display: block;
    background-image: url(../img/nav-hover.png);
    background-position: 0 0;
    padding: 7px  0;
    color: #fff;
    font-size: 18px;
    font-family: 'CuprumRegular';
    margin: 9px 10px 10px 0;
    width: 113px;
    text-align: center;
}
.footer-menu > .wrap > ul > li > a:hover{
    background-image: url(../img/nav-hover.png);
    background-position: 0 -31px;
    text-decoration: none;
}
.footer-content{
    background-image: url(../img/bg-header.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    width: 100%;
    height: 211px;
}
.footer-left a img{
    margin: 20px 0;
}
.footer-right{
    float: right;
    width: 59%;
}
.footer-right p{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 69px;
}
.footer-right img{
    float: right;
}
.footer-contact{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    3px 3px 6px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         3px 3px 6px 0px rgba(50, 50, 50, 0.64);

    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #eee;
    padding: 5px;
    width: 171px;
}
.footer-contact-top{
    border-bottom: 1px #C1C1C0 solid;
    height: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.footer-contact-top img{
    float: left;
    width: 13px;
    margin-right: 7px;
}
.footer-contact-top p{
    font-size: 18px;
}
.footer-contact-bottom p{
    font-size: 18px;
    color: #c44741;
    text-align: center;
    line-height: 22px;
}